In [1]:
import pandas as pd

#1. 열 생성
col1 = [1,2]
col2 = [3,4]

#3. 열 이름 붙여주기
d = {'col1' : col1, 'col2': col2}

# 딕셔너리로 DF 생성
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [3]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2450616],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ['서울', '부산', '인천', '대구']

df = pd.DataFrame(data, index = index)
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2450616  2473990  경상권         0.0141

In [4]:
df.values

array([[9904312, 9631482, 9762546, 9853972, '수도권', 0.0283],
       [3448737, 3393191, 3512547, 3655437, '경상권', 0.0163],
       [2890451, 2632035, 2517680, 2466338, '수도권', 0.0982],
       [2466052, 2431774, 2450616, 2473990, '경상권', 0.0141]], dtype=object)

In [6]:
df.columns

Index(['2015', '2010', '2005', '2000', '지역', '2010-2015 증가율'], dtype='object')

In [7]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')